# Listas COntinuacion

## Subconjunto de Secuencias

In [1]:
# Slices. = Cortes

In [2]:
salarios = [2700, 1500, 6000, 5400, 3800, 5700, 4670]

In [3]:
type(salarios)

list

In [4]:
len(salarios)

7

In [5]:
salarios[1:5]

[1500, 6000, 5400, 3800]

In [7]:
salarios[1:len(salarios) -1]

[1500, 6000, 5400, 3800, 5700]

In [8]:
salarios[0:3]

[2700, 1500, 6000]

In [9]:
salarios[:3]

[2700, 1500, 6000]

In [10]:
salarios[3:]

[5400, 3800, 5700, 4670]

In [11]:
salarios[:]

[2700, 1500, 6000, 5400, 3800, 5700, 4670]

## Para Tuplas

In [12]:
notas = ('do','re','mi','fa','sol','la','si')

In [14]:
notas[3:]

('fa', 'sol', 'la', 'si')

In [15]:
notas[1:5]

('re', 'mi', 'fa', 'sol')

In [16]:
mensaje = 'Hola covid'

In [17]:
mensaje[2:]

'la covid'

In [18]:
notas[1:1]

()

In [19]:
notas[1:2]

('re',)

## Pasando una lista como argumento a una funcion

In [20]:
def procentaje(lista):
    for i in range(len(lista)):
        lista[i] /= 100 # lista[i] := lista[i] / 100
    return lista

In [21]:
procentaje([2,4,5,6,7])

[0.02, 0.04, 0.05, 0.06, 0.07]

In [22]:
salarios

[2700, 1500, 6000, 5400, 3800, 5700, 4670]

In [23]:
salarios.sort()

In [24]:
salarios

[1500, 2700, 3800, 4670, 5400, 5700, 6000]

In [25]:
salarios.sort(reverse = True)

In [26]:
salarios

[6000, 5700, 5400, 4670, 3800, 2700, 1500]

In [27]:
sorted?

Signature: sorted(iterable, /, *, key=None, reverse=False)
Docstring:
Return a new list containing all items from the iterable in ascending order.

A custom key function can be supplied to customize the sort order, and the
reverse flag can be set to request the result in descending order.
Type:      builtin_function_or_method

In [28]:
sorted(notas)

['do', 'fa', 'la', 'mi', 're', 'si', 'sol']

In [29]:
notas

('do', 're', 'mi', 'fa', 'sol', 'la', 'si')